*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-box{
    width: 300px;
    margin: 15px auto;
    padding: 15px;
    background-color: purple;
    border: 1px solid black;
    border-radius: 5px;
}

h1{
    color:black;
    margin-bottom: 7px;
    font-weight: 600;
}

p{
    margin-bottom: 15px;
    color:black;
}

ul.parents-list{
    list-style: none;
    padding-left: 15px;
}
ul.parents-list li{
    padding: 6px 15px;
    background-color:white;
    margin-bottom: 8px;
    border-radius: 5px;
    color:blue;
}